</main>
<footer>
    <div class="content">
        <div class="bottom-details">
            <div class="bottom-text">
                <span class="copy-text">Copyright @ 2024 <a>ReadRealm.</a>All rights reserverd</span>
                <span class="policy-term">
                    <a>Privacy Policy</a>
                    <a>Terms & Condition</a>
                </span>
            </div>
        </div>
    </div>
</footer>
</body>
</html>